<form [formGroup]="alunoForm">
  <div class="form-group">
    <label for="nomeAluno">Nome*</label>
    <input type="text" class="form-control" id="nomeAluno" formControlName="nome" aria-describedby="emailHelp" placeholder="Nome" maxlength="50">
  </div>
  <div class="form-group">
    <label for="rgAluno">RG*</label>
    <input type="text" class="form-control" id="rgAluno" formControlName="rg" mask="00.000.000-0" placeholder="00.000.000-0">
  </div>
  <div class="form-group">
    <label for="raAluno">RA*</label>
    <input type="text" mask="00000000" class="form-control" id="raAluno" formControlName="ra" placeholder="RA" maxlength="8">
  </div>
  <div class="form-group">
    <label for="serieAluno">Série*</label>
    <input type="text" class="form-control" id="serieAluno" formControlName="serie" placeholder="Série" maxlength="10">
  </div>
  <div class="form-group">
    <label for="cidadeAluno">Cidade*</label>
    <input type="text" class="form-control" id="cidadeAluno" formControlName="cidade" placeholder="Cidade" maxlength="50">
  </div>


  <div class="form-group">
    <label for="curso">Curso*</label>
    <ng-select id="curso" [items]="cursos" [multiple]="false"
      bindLabel="nome" bindValue="id" formControlName="cursoId" placeholder="Selecione">
    </ng-select>
  </div>

  
  <button type="submit" class="btn btn-primary" (click)="submeteFormulario()" *ngIf="!isDetail">{{this.id ? 'Salvar Edição' : 'Salvar'}}</button>
</form>